<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zp.dao.BooktypeMapper">
  <insert id="insertType" useGeneratedKeys="true" parameterType="String">
    insert into booktype(bt_name) values (#{btname})
  </insert>
  <resultMap id="BaseResultMap" type="com.zp.entity.Booktype">
    <id column="bt_id" jdbcType="INTEGER" property="btId" />
    <result column="bt_name" jdbcType="VARCHAR" property="btName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    bt_id, bt_name
  </sql>
  <select id="selectByExample" parameterType="com.zp.entity.BooktypeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from booktype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from booktype
    where bt_id = #{btId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from booktype
    where bt_id = #{btId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zp.entity.BooktypeExample">
    delete from booktype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zp.entity.Booktype">
    insert into booktype (bt_id, bt_name)
    values (#{btId,jdbcType=INTEGER}, #{btName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zp.entity.Booktype">
    insert into booktype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="btId != null">
        bt_id,
      </if>
      <if test="btName != null">
        bt_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="btId != null">
        #{btId,jdbcType=INTEGER},
      </if>
      <if test="btName != null">
        #{btName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zp.entity.BooktypeExample" resultType="java.lang.Long">
    select count(*) from booktype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update booktype
    <set>
      <if test="record.btId != null">
        bt_id = #{record.btId,jdbcType=INTEGER},
      </if>
      <if test="record.btName != null">
        bt_name = #{record.btName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update booktype
    set bt_id = #{record.btId,jdbcType=INTEGER},
      bt_name = #{record.btName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zp.entity.Booktype">
    update booktype
    <set>
      <if test="btName != null">
        bt_name = #{btName,jdbcType=VARCHAR},
      </if>
    </set>
    where bt_id = #{btId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zp.entity.Booktype">
    update booktype
    set bt_name = #{btName,jdbcType=VARCHAR}
    where bt_id = #{btId,jdbcType=INTEGER}
  </update>
</mapper>